* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  background-color: #202c37;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: #2b3945;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 20px;
}

.header h1 {
  font-size: 16px;
  font-weight: 800;
  text-transform: capitalize;
}

.header .dark-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #80808030;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  text-transform: capitalize;
}

.header.active {
  background-color: white;
  color: #111517;
  -webkit-box-shadow: inset 0px -1px 0px 0px #80808021;
          box-shadow: inset 0px -1px 0px 0px #80808021;
}

.section-1 {
  background-color: #202c37;
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
}

.section-1 .sec-1 {
  background-color: #2b3945;
  width: 100%;
  padding: 5px 0;
  border-radius: 4px;
}

.section-1 .sec-1 i {
  background-color: #2b3945;
  padding: 10px;
  width: 20%;
  text-align: center;
  color: white;
}

.section-1 .sec-1 input {
  background-color: #2b3945;
  width: 77%;
  padding: 10px;
  border: none;
  color: white;
}

.section-1 .sec-1 input:focus {
  outline: none;
}

.section-1 .sec-1 option {
  width: 40%;
}

.section-1 .sec-2 {
  width: 50%;
  margin-top: 15px;
}

.section-1 .sec-2 select {
  width: 100%;
  padding: 10px;
  background-color: #2b3945;
  color: white;
  border: none;
  margin-bottom: 15px;
  border-radius: 4px;
}

.section-1 .sec-2 select:focus {
  outline: none;
}

.section-1.active {
  background-color: #fafafa;
}

.section-1.active .sec-1 {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 5px #80808021;
          box-shadow: 0 0 5px 5px #80808021;
}

.section-1.active .sec-1 i, .section-1.active .sec-1 input {
  background-color: white;
  color: black;
}

.section-1.active .sec-2 select {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 0 5px 5px #80808021;
          box-shadow: 0 0 5px 5px #80808021;
}

@media (min-width: 1201px) {
  .section-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  .section-1 .sec-1 {
    width: 25%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-1 .sec-1 i {
    padding: 13px;
    cursor: pointer;
  }
  .section-1 .sec-1 input {
    width: 80%;
    padding: 13px;
  }
  .section-1 .sec-2 {
    width: 15%;
    margin: 0;
  }
  .section-1 .sec-2 select {
    width: 100%;
    margin-bottom: 0px;
  }
}

.section-2 {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem;
}

.section-2 .container {
  width: 100%;
  background-color: #2b3945;
  border-radius: 7px;
  padding-bottom: 40px;
}

.section-2 .container img {
  width: 100%;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-2 .container h2, .section-2 .container ul {
  padding-left: 20px;
  color: white;
  text-transform: capitalize;
}

.section-2 .container h2 {
  margin: 20px 0;
  font-weight: 800;
  font-size: 1.3rem;
}

.section-2 .container li {
  font-weight: 600;
  padding: 5px 0px;
}

.section-2 .container span {
  color: #ffffffa6;
  font-weight: 300;
}

.section-2 .invalied {
  background-color: #2b3945;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 1.5rem;
}

.section-2.active {
  background-color: #fafafa;
}

.section-2.active .container {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 5px #80808021;
          box-shadow: 0 0 5px 5px #80808021;
}

.section-2.active .container h2, .section-2.active .container ul {
  color: black;
}

.section-2.active .container span {
  color: black;
}

.section-2.active .invalied {
  background-color: white;
  color: black;
  -webkit-box-shadow: 0 0 5px 5px #80808021;
          box-shadow: 0 0 5px 5px #80808021;
}

@media (min-width: 1201px) {
  .section-2 {
    padding: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .section-2 .container {
    width: 20%;
    cursor: pointer;
  }
  .section-2 .container img {
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */