*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    background-color: $Very-Dark-Blue-Dark-Mode-Background;
}
ul,ol{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}