
.section-1{
    background-color: $Very-Dark-Blue-Dark-Mode-Background;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    .sec-1{
        background-color: $Dark-Blue-Dark-Mode-Elements;
        width: 100%;
        padding: 5px 0;
        border-radius: 4px;
        i{
            background-color: $Dark-Blue-Dark-Mode-Elements;
            padding: 10px;
            width: 20%;
            text-align: center;
            color: white;
        }
        input{
            background-color: $Dark-Blue-Dark-Mode-Elements;
            width: 77%;
            padding: 10px;
            border: none;
            color: white;
            &:focus{
                outline: none;
            }

        }
        option{
            width: 40%;
        }
    }
    .sec-2{
        width: 50%;
        margin-top: 15px;
        select{
            width: 100%;
            padding: 10px;
            background-color:$Dark-Blue-Dark-Mode-Elements;
            color: white;
            border: none;
            margin-bottom: 15px;
            border-radius: 4px;
            &:focus{
                outline: none;
            }
        }
    }
    &.active{
        background-color: $Very-Light-Gray-Light-Mode-Background;
        .sec-1{
            background-color: white;
            box-shadow: 0 0 5px 5px #80808021;
            i,input{
                background-color: white;
                color: black;
            }
        }
        .sec-2{
            select{
                background-color: white;
                color: black;
                box-shadow: 0 0 5px 5px #80808021;
            }
        }
    }
}
// ------------------------------------------------------media large--------------------------------------------------
@include large{
    .section-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        .sec-1{
            width: 25%;
            margin: 0;
            padding:  0;
            display: flex;
            i{
                padding: 13px;
                cursor: pointer;
            }
            input{
                width: 80%;
                padding: 13px;
            }
        }
        .sec-2{
            width: 15%;
            margin: 0;
            select{
                width: 100%;
                margin-bottom: 0px;
            }
        }

    }
}
// -----------------------------------------------------------------------------------------------------------------------
.section-2{
    padding: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: 4rem;
    .container{
        width: 100%;
        background-color: $Dark-Blue-Dark-Mode-Elements;
        border-radius: 7px;
        padding-bottom: 40px;

        img{
            width: 100%;
            border-radius: 7px;
            object-fit: cover;
        }
        h2,ul{
            padding-left: 20px;
            color: white;
            text-transform: capitalize;
        }
        h2{
            margin: 20px 0;
            font-weight: 800;
            font-size: 1.3rem;

        }
        li{
            font-weight: 600;
            padding: 5px 0px;
        }
        span{
            color: #ffffffa6;
            font-weight: 300;
        }
    }
    .invalied{
        background-color: $Dark-Blue-Dark-Mode-Elements;
        text-align: center;
        color: white;
        padding: 20px;
        font-size: 1.5rem;
    }
    &.active{
        background-color: $Very-Light-Gray-Light-Mode-Background;
        .container{
            background-color: white;
            box-shadow: 0 0 5px 5px #80808021;
            h2,ul{
                color: black;
            }
            span{
                color: black;
            }
        }
        .invalied{
            background-color: white;
            color: black;
            box-shadow: 0 0 5px 5px #80808021;
        }
    }
}
// ---------------------------------------------------------section-2-media-larg-------------------------------------------
@include large{
    .section-2{
        padding: 30px;
        flex-wrap: wrap;
        flex-direction: row;
        .container{
            width: 20%;
            cursor: pointer;
            img{
                height: 200px;
            }
        }
    }
    
}