.header{
    background-color: $Dark-Blue-Dark-Mode-Elements;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
    h1{
        font-size: 16px;
        font-weight: 800;
        text-transform: capitalize;
    }
    .dark-light{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
        border: 1px solid #80808030;
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
        text-transform: capitalize;
    }
    &.active{
        background-color: white;
        color: $Very-Dark-Blue-Light-Mode-Text;
        box-shadow: inset 0px -1px 0px 0px #80808021;
    }
}